<h1>Books#show</h1>
<%= "Name --" %>
<%= "Subject --" %>
<%= "Quantity --" %>
<%= "Class" %>
<%= "created_at" %>
<%= "updated_at" %>
<br>
<br>

<%= @book.Name %> 
<%= @book.Subject %>
<%= @book.Quantity %> 
<%= @book.Class %>
<%= @book.created_at %>
<%= @book.updated_at %>
<br>
