<h1>Subjects#new</h1>

<%= form_for(:subject, :url => {:action => 'create', id=>@book.id}) do |f| %>

<%= "Name" %>
<%= f.text_field (:Name)  %> <br> <br>
<%= "Position" %>
<%= f.text_field (:Position) %> <br> <br>
<%= "Visible" %>
<%= f.text_field (:Visible) %> <br> <br>

<div class="form-button">
<%= submit_tag("Create Subject") %>
</div>

<% end %>

