<h1>Register#show</h1>
<p>Find me in app/views/register/show.html.erb</p>

<%= @register.id %>
<%= "---"  %>
<%= @register.Name %>
<%= "---"  %>
<%= @register.Subject %>
<%= "---"  %>
<%= @register.Quantity %>
<%= "---"  %>
<%= @register.Class %>
<%= "---"  %>
<%= @register.created_at  %>
<%= "---"  %>
<%= @register.updated_at %>